<div class="app-body" [formGroup]="forgotPasswordForm">
	<main class="main d-flex align-items-center">
	  <div class="container">
		<div class="row">
		  <div class="col-md-8 mx-auto">
			<div class="card-group">
			  <div class="card p-4">
				<div class="card-body">
				  <h4><b>{{ 'app.title' | translate }}</b> {{ 'app.shorttitle' | translate }}</h4>
				  <p class="text-muted">{{ 'forgotpassword.form title' | translate }}</p>
					<div *ngIf="isShowFailDialog" class="alert alert-danger alert-dismissible">
						{{dialogContent}}
					</div>		
					<div *ngIf="isShowSuccessDialog" class="alert alert-success alert-dismissible">
						{{dialogContent}}
					</div>
				  <div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text"><i class="icon-envelope-letter"></i></span>
					</div>
						<input type="text" class="form-control" formControlName="email" 
						required placeholder="{{ 'forgotpassword.email placeholder' | translate }}" [formControl]="forgotPasswordForm.controls['email']">
					</div>	
					<span class="fa fa-envelope form-control-feedback"></span>
					<span class="help-block" *ngIf="!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched">{{ 'forgotpassword.email validator' | translate }}</span>			  
				  <div class="row">
					<div class="col-4">
					  <button type="button" (click)="forgotPassword(forgotPasswordForm.value)" class="btn btn-primary px-4">{{ 'forgotpassword.submit button' | translate }}</button>
					</div>
					<div class="col-4 text-right">
					  <button type="button" (click)="backto()" class="btn btn-link px-0">{{ 'forgotpassword.back to login' | translate }}</button>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</main>
  </div>
  



<!-- <div class="login-box" data-md-class [formGroup]="forgotPasswordForm">
	<div class="login-logo">
		<b>{{ 'app.title' | translate }}</b> {{ 'forgotpassword.subTitle' | translate }}
	</div>
	<div class="login-box-body">
		<p class="login-box-msg">{{ 'forgotpassword.form title' | translate }}</p>

		<div *ngIf="isShowFailDialog" class="alert alert-danger alert-dismissible">
			{{dialogContent}}
		</div>

        <div *ngIf="isShowSuccessDialog" class="alert alert-success alert-dismissible">
			{{dialogContent}}
		</div>

		<form role="form" (ngSubmit)="forgotPassword(forgotPasswordForm.value)" [formGroup]="forgotPasswordForm">
			<div class="form-group has-feedback" [ngClass]="{'has-error':!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched}">
				<input type="text" class="form-control" formControlName="email" placeholder="Email..." [formControl]="forgotPasswordForm.controls['email']">
				<span class="fa fa-envelope form-control-feedback"></span>
				<span class="help-block" *ngIf="!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched">{{ 'forgotpassword.email validator' | translate }}</span>
			</div>
			<div class="row">
				<div class="col-xs-6"></div>				
				<div class="col-xs-6">
					<button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="isDisableButton || !forgotPasswordForm.valid">
                        <i *ngIf="isDisableButton" class="fa fa-refresh fa-spin"></i>&nbsp;&nbsp;{{ 'forgotpassword.submit button' | translate }}&nbsp;&nbsp;
                    </button>
				</div>				
			</div>
		</form>
		<div style="text-align: right;">
			<a routerLink="../login">{{ 'forgotpassword.back to login' | translate }}</a>
		</div>
	</div>	
</div> -->