

@font-face {
    font-family: first-font;
    font-style: normal;
    font-weight: normal;
    src: local("Roboto"), url("./Roboto-Regular.ttf") format("woff");
}

:root {
    --text-black: #000;
    --text-white: #ffffff;
    --text-orage: #f88721;
    --text-header: #a11822;
    --text-xam: #666666;
    --bg-xam: #f3f3f3;
    /* Font style */
    --font-helverica: Arial, Helvetica, sans-serif;
    --font-robo: first-font;
    --font-robo-condensed: "Roboto Condensed", sans-serif;
    --color-blue: #004991d4;
}

.gioithieu-css p span {
    font-family: var(--font-robo) !important;
}

a:hover {
    text-decoration: none !important;
}
.titleblue h3{
    color: #333;
}
.top-blog p span {
    font-family: var(--font-robo) !important;
}
.sticky {
    max-height: 56px !important;
}
/*.top-blog p span {
        font-size: 1rem !important;
    }*/
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

body {
    color: var(--text-black);
    /* font-family: var(--font-helverica); */
    font-family: var(--font-robo) !important;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

.content_2-top-des {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.content_2-top-title,
.content_3-content-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.content_2-mid-des,
.content_3-content-des {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.content_4-bot-title-bot {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.content_4-bot-title-top-khong-cat {
    font-family: var(--font-robo);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    color: #222;
    line-height: 23px;
}
.no-padding-left
{
    padding-left:0px;
}
.content_4-bot-title-bot-khongcat {
    display: -webkit-box;
    font-size: 14px;
    line-height: 20px;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

   
/* Header */
.header_logo {
    height: 64px;
    width: 64px
}
@media (max-width: 900px) {
    .header_logo_mobile {
    height: 32px;
    width: 32px !important;
}
} 
.header_top {
    background-color: #004991;
}

.header_top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top-box_title {
    font-size: 26px;
    line-height: 50px;
    color: var(--text-white);
    font-family: var(--font-robo) !important;
    font-weight: 500;
    margin: 0;
}
@media (max-width:900px) {

.header_top-box_title {
    font-size: 12px;
    line-height: 50px;
    color: var(--text-white);
    font-family: var(--font-robo) !important;
    font-weight: 500;
    margin: 0;
}
}
.header_top-right-find {
    background-color: #004991;
    color: var(--text-white);
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;
    font-size: 15px;
}

.header_top-right-pen,
.header_top-right-user {
    color: var(--text-white);
    font-size: 18px;
    font-family: var(--font-robo) !important;
    font-weight: 400;
    line-height: 26px;
}

    .header_top-right-pen > i,
    .header_top-right-user > i {
        margin-right: 10px;
        font-size: 15px;
    }

.header_top-right-pen {
    padding-right: 10px;
}

.header_top-right-user > i {
    margin-left: 10px;
}

.header_top-right-space {
    color: #ffffff;
    width: 2px;
    margin-top: -2px;
}

.header_top-right-pen > span,
.header_top-right-user > span {
    margin-top: 2px;
}

.header_bot {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #dee2e6;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
    outline: none !important;
}

.btn-success {
    color: #fff;
    background-color: #0062cccc !important;
    border-color: #0062cccc !important;
}

    .btn-success:focus {
        box-shadow: 0 0 0 0.2rem #0062cccc;
    }

.header_bot-box {
    width: 100%;
    justify-content: center;
    align-items: center;
    /* padding-left: 15px; */
    /* margin-left: 0px; */
    margin: 0 !important;
}

.header_bot-box-left {
    padding: 0 !important;
}

.header_bot-box-right {
    padding: 0 !important;
    padding-left: 9% !important;
}

.navbar {
    justify-content: space-between;
    padding: 0 !important;
}

.navbar-nav {
    justify-content: space-between;
    width: 100%;
}

.header_bot > div {
    width: 100%;
}

.nav-item-p-0 > a {
    padding-right: 0 !important;
}

.nav-link {
    font-size: 16px;
    line-height: 26px;
    font-family: var(--font-robo) !important;
    font-weight: bold;
    color: #000 !important;
}

.header_img-bg {
    /*height: 450px;*/
    position: relative;
    display: flex;
    justify-content: center;
}

.header_img-bg-img {
    height: 100%;
    width: 100%;
}

.header_img-bg-box {
    position: absolute;
    top: 16%;
}

.header_img-bg-box-title {
    font-family: var(--font-robo) !important;
    font-size: 48px;
    line-height: 48px;
    color: var(--text-white);
    text-shadow: #545454 0px 2px 2px;
}

.header_img-bg-box-title-2 {
    font-family: var(--font-robo) !important;
    font-size: 70px;
    line-height: 48px;
    color: var(--text-white);
    margin-left: 34%;
    margin-top: -28px;
    text-shadow: #545454 0px 2px 2px;
}

.header_img-bg-box > img {
    margin-left: 9%;
}

.header_img-bot {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 40px;
}

.header_img-bot-box {
    /*  display: flex;*/
    /*justify-content: center;*/
}

.header_img-main {
    width: 100%;
}

.header_img-bot-title {
    justify-content: center;
    margin-top: 18px;
}

.header_img-bot-title-list-left {
    font-size: 48px;
    font-weight: 300;
}
/* .header_img-bot-title-list {
  display: flex;
  justify-content: center;
} */
.hinet-text {
    justify-content: center;
}

.henit-border {
    border-right: 2px dashed #b0abad;
}

.header-img {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

    .header-img img {
        padding-left: 26%;
    }

.header_img-bot-title-list-right {
    margin-left: 15px;
    text-align: initial;
}

.header_img-bot-title-list-right-1 {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
}

.header_img-bot-title-list-right-2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.header_img-bot {
    background-color: #eff2f7;
}

.header_img-bot-title-list {
    justify-content: end;
}

.header_img-bot-title > div > div {
    padding-right: 0 !important;
}
/* content 1 */
.content_2 {
    padding: 40px 0 20px 0;
}

.content_2-img-right {
    width: 100%;
    height: auto;
}

p img {
    max-width: 100%;
}

.content_2-right-bot {
    width: 100%;
    height: auto;
    /* object-fit: cover;*/
}

.content_2-top-description {
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-robo) !important;
    text-overflow: ellipsis;
}

.content_2-top-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
}

.content_2-mid {
    align-items: start;
    padding: 20px 0;
    border: 1px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
    /*height: 180px;*/
    display: flex;
}

    .content_2-mid:last-child {
        align-items: start;
        padding: 20px 0px;
        border: 1px;
        border-style: solid;
        border-color: transparent transparent transparent transparent;
       
        display: flex;
    }

.content_2-top-des,
.content_2-mid-des {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.content_2-top-des {
    height: 80px;
}

    .content_2-top-des p {
        text-align: justify;
    }

.content_2-mid-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    font-family: var(--font-robo) !important;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 10px;
}

.content_2-mid-des,
.content_3-content-des {
    line-height: 20px;
    margin: 0;
    font-weight: 500;
}

.content_2-top-title {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-robo) !important;
    color: var( --color-blue)
}

/* content 3 */
.content_3-img {
    height: 100%;
    width: 100%;
    height: 570px;
}

.content_3 {
    position: relative;
    display: flex;
    justify-content: center;
}

.content_3-box {
    position: absolute;
    content: "";
    top: 8%;
}

.content_3-box-title {
    font-size: 38px;
    line-height: 58px;
    font-family: var(--font-robo) !important;
    font-weight: bold !important;
    color: var(--text-white);
}

    .content_3-box-title > p {
        margin: 0 !important;
    }

.content_3-list-item {
    position: relative;
    padding: 0 10px !important;
}

.content_3-list-item-des {
    color: var(--text-white);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-robo) !important;
    display: flex;
    text-align: center;
    margin-bottom: 0;
}

.content_3-box-list {
    padding-top: 52px;
}

    .content_3-box-list > .content_3-list-item:first-child {
        padding-left: 0 !important;
    }

    .content_3-box-list > .content_3-list-item:last-child {
        padding-right: 0 !important;
    }

.content_3-list-item-box {
    width: 206px;
    border: 1px solid #ffffff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    border-radius: 10px;
    padding: 10px;
}

.content_3-img-icon {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px;
    /* height: 50%; */
}

.content_3-title {
    margin-top: 15px;
    height: 50%;
}

.content_3-img-bot {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

.content_3-img-bot-box {
    position: relative;
    display: flex;
    justify-content: space-between;
}

    .content_3-img-bot-box > img {
        width: 100%;
    }

.content_3-img-bot-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 60px;
}

    .content_3-img-bot-list > h2 {
        font-size: 30px;
        line-height: 48px;
        font-family: var(--font-robo) !important;
        font-weight: 500;
        color: var(--text-white);
    }

.content_3-img-bot-btn {
    height: 70px;
    width: 262px;
    border: none;
    border-radius: 10px;
}

    .content_3-img-bot-btn > span {
        font-size: 24px;
        font-family: var(--font-robo) !important;
        color: #0078d4;
        line-height: 48px;
    }
/* content 4 */
.content_4-box {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 38px;
    line-height: 48px;
    font-family: var(--font-robo) !important;
    font-weight: bold !important;
    margin-bottom: 40px;
}

    .content_4-box > p {
        margin: 0;
    }

.content_4-bot-title {
    padding-left: 30px;
}

.content_4-bot-title-top {
    font-size: 18px;
    color: #222;
    line-height: 25px;
}

.content_4-bot-title-top,
.content_4-bot-title-bot {
    font-family: var(--font-robo) !important;
    font-weight: bold;
    margin-bottom: 0;
}

.content_4-bot-title-bot {
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    padding-top: 10px;
}

.content_4-bot-img > img {
    margin-top: 10px;
}

.content_4-box-bot-secound {
    margin-top: 50px;
}

.content_4-box-bot-first > .col-md-4:nth-child(2) {
    padding: 0 35px;
}

.content_4-box-bot-secound > .col-md-4:nth-child(2) {
    padding: 0 35px;
}

.content_4-box-bot-first > div {
    /*max-height: 160px;*/
}
.content_4-box-bot-firstx > .col-md-4:nth-child(2) {
    padding: 0 35px;
}
/* Content 5 */
.content_3-head {
    justify-content: space-between;
    padding-bottom: 40px;
    margin-left: -15px;
    padding-top: 40px;
}

.content_3-head-control {
    margin-right: -15px;
}

.content_3-head-title {
    font-size: 38px;
    font-weight: bold;
    margin: 0;
}

.content_3-head-btn,
.content_3-head-btn-right {
    background: rgb(255, 225, 1);
    background: linear-gradient( 90deg, rgba(255, 225, 1, 1) 19%, rgba(248, 145, 30, 1) 71% );
    border: none;
    padding: 15px 20px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}

.content_3-head-btn-right {
    background: rgb(248, 145, 30);
    background: linear-gradient( 90deg, rgba(248, 145, 30, 1) 27%, rgba(255, 225, 1, 1) 100% );
}

.content_3-content-img {
    margin-bottom: 30px;
}

.content_3-content-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.content_3-content-des {
    font-size: 14px;
    margin-bottom: 20px;
}

.content_3-content-more {
    font-size: 16px;
    color: var(--text-orage);
    display: flex;
    align-items: center;
    font-weight: 500;
}

    .content_3-content-more > i {
        font-size: 20px;
        padding-left: 15px;
    }

.content_4 {
    padding: 60px 0;
}

.content_3-head-btn-right,
.content_3-head-btn {
    cursor: pointer;
}

.content_3-head-btn {
    margin-right: 5px;
}

.content_3-content-img {
    width: 100%;
}

.content_3-content > .col-md-4:first-child {
    padding: 0 40px 0 0;
}

.content_3-content > .col-md-4:nth-child(2) {
    padding: 0 20px;
}

.content_3-content > .col-md-4:last-child {
    padding: 0 0 0 40px;
}

.content_5-bg {
    background-color: #eff2f7;
}

.content_3-head {
    justify-content: center;
    font-size: 38px;
    line-height: 48px;
    font-family: var(--font-robo) !important;
    font-weight: bold;
}

.content_3-content-title {
    font-size: 18px;
    line-height: 26px;
    font-family: var(--font-robo) !important;
    font-weight: bold;
}

.content_3-content-des {
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-robo) !important;
    font-weight: 500;
}

.content_3-content {
    padding-bottom: 40px;
}

/* content 6 */
.content_6-main {
    padding: 60px 0;
}

.content_6-img-left > img {
    margin-right: 40px;
}

.content_6-left-list {
    height: 33.333%;
    align-items: start;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.content_6-left-des-top,
.content_6-left-btn-des {
    font-size: 14px;
    line-height: 26px;
    font-family: var(--font-robo) !important;
    font-weight: 500;
    margin: 0;
    color: #0078d4;
}

.content_6-left-des-top {
    margin-bottom: 10px;
}

.content_6-left-des {
    width: 75%;
}

.content_6-left-des-bot {
    line-height: 26px;
    font-family: var(--font-robo) !important;
    font-size: 18px;
    font-weight: bold;
}

.content_6-left-btn {
    align-items: center;
    display: flex;
    height: 80%;
}

.content_6-left-btn-btn {
    border: none;
    background: #fff;
    cursor: pointer;
}

.content_6-box-left > .content_6-left-list:nth-child(2) {
    align-items: center;
}

.content_6-box-left > .content_6-left-list:nth-child(3) {
    align-items: end;
    border-bottom: none;
}

.content_6-box-left > .content_6-left-list:nth-child(2) > .content_6-left-btn {
    transform: translateY(10px);
}

.content_6-box-left > .content_6-left-list:nth-child(3) > .content_6-left-btn {
    transform: translateY(20px);
}

.content_6-right {
    position: relative;
    /* padding: 70px 60px; */
}

    .content_6-right > img {
        height: 100%;
    }

.content_6-right-box {
    position: absolute;
    content: "";
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    padding: 70px 60px;
    flex-direction: column;
    height: 100%;
    width: 110%;
    align-items: center;
    justify-content: space-between;
}

    .content_6-right-box > p {
        font-size: 38px;
        line-height: 60px;
        color: var(--text-white);
        text-align: center;
        font-family: var(--font-robo) !important;
        font-weight: bold;
    }

.content_6-right-btn > span {
    font-size: 14px;
    font-family: var(--font-robo) !important;
    font-weight: bold;
    line-height: 28px;
    color: var(--text-white);
}

.content_6-right-btn {
    border: none;
    background-color: #0078d4;
    height: 60px;
    width: 180px;
    margin-bottom: 25px;
}
/* Content 7 */
.content_7 {
    background-image: url(./content_5.png);
    background-size: cover;
    height: 350px;
}

.content_7-main {
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.content_7-bot > p {
    color: var(--text-white);
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.content_7-main-box-bot {
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
}

    .content_7-main-box-bot > div {
        margin-left: 10px;
        padding-left: 50px;
    }
/* content 8 */
/* .content_8-img {
  background-image: url(./img/bg/khoa_hoc.png);
  height: 600px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 80px;
} */
.content_8 {
    /* background-image: url(./img/bg/footer_top.png); */
    /* height: 600px; */
    /* background-size: cover; */
    display: flex;
    align-items: center;
}

.content_8-left-img {
    background-image: url('./khoa_hoc.png');
    background-size: cover;
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px !important;
}

.content_8-right {
    background-image: url(./khoa_hoc-2.png);
    background-size: cover;
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
}

.content_8-left-box {
    height: 360px;
    width: 500px;
    background-color: var(--text-white);
}

.content_8-right-box {
    padding-left: 70px !important;
    margin-top: 80px;
}

.content_8-main {
    display: flex;
    justify-content: end;
}

.content_8-left-box {
    padding: 40px 30px;
}

.content_8-left-box-title {
    font-size: 24px;
    font-family: var(--font-robo) !important;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 35px;
}

.content_8-left-bot-item {
    display: flex;
    align-items: center;
}

    .content_8-left-bot-item > span,
    .content_8-left-box-des {
        font-size: 16px;
        font-family: var(--font-robo) !important;
        font-weight: 500;
        padding-left: 8px;
    }

.content_8-left-bot {
    padding: 0;
    margin-bottom: 5px;
}

    .content_8-left-bot > li {
        list-style: none;
        margin-bottom: 15px;
    }

        .content_8-left-bot > li:last-child {
            margin: 0;
        }

.content_8-left-box-des {
    display: flex;
    justify-content: center;
}

    .content_8-left-box-des > span {
        font-style: italic;
    }

.content_8-left-bot-btn {
    padding: 10px;
    background-color: var(--text-white);
    cursor: pointer;
    border: none;
    font-size: 14px;
    line-height: 28px;
    color: #0078d4;
    font-weight: bold;
    font-family: var(--font-robo) !important;
    display: flex;
    align-items: center;
}

    .content_8-left-bot-btn > img {
        margin-left: 10px;
    }

.content_8-right-top {
    font-size: 38px;
    line-height: 48px;
    font-family: var(--font-robo) !important;
    font-weight: bold;
}

.content_8-right-bot {
    font-size: 14px;
    line-height: 26px;
    font-family: var(--font-robo) !important;
    font-weight: 500;
    color: #666666;
}

.content_8-right-list {
    margin-bottom: 27px;
}

    .content_8-right-list > li {
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        .content_8-right-list > li > span {
            font-size: 18px;
            line-height: 30px;
            font-family: var(--font-robo) !important;
            font-weight: bold;
            padding-left: 15px;
        }

.content_8-right-btn {
    font-size: 14px;
    line-height: 28px;
    color: var(--text-white);
    font-family: var(--font-robo) !important;
    font-weight: bold;
    border: none;
    background-color: #0078d4;
    height: 60px;
    width: 200px;
    cursor: pointer;
}

.content_8-box > div {
    align-items: center;
}

.content_8-main-right {
    /* transform: translateY(10%); */
}

.content_8-btn-box > img {
    padding-left: 10px;
}
/* footer top */

.footer_top-logo-item-box-img {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97px;
}

.footer_top-logo-img {
    width: 90%;
    object-fit: contain;
    height: 80%;
}

.footer_top {
    background-color: #f3f3f3;
    height: 265px;
}

.footer_top-des {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: var(--font-robo) !important;
}

.footer_top-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 !important;
}

.footer_top-item {
}

.footer_top-logo > .footer_top-logo-item:first-child {
    padding: 0 15px 0 0;
}

.footer_top-logo > .footer_top-logo-item:last-child {
    padding: 0 0 0 15px;
}

.footer_top-item > img {
    width: 100%;
}

.footer_top-list > .footer_top-item:first-child {
    padding: 0 15px 0 0;
}

.footer_top-list > .footer_top-item:last-child {
    padding: 0 0 0 15px;
}

.footer {
    /*padding-top: 60px;*/
}

.footer_bot {
    background-image: url(./footer.png);
/*    height: 200px;*/
}

.footer_bot-box {
    height: 100%;
    display: flex;
    justify-content: center;
    color: var(--text-white);
    padding: 40px 0;
    flex-direction: column;
}

.footer_bot-title > p {
    display: flex;
    justify-content: center;
}

.footer_bot-title-top {
    font-family: var(--font-robo) !important;
    font-size: 18px;
    font-weight: bold;
}

.footer_bot-title-top {
    margin-top: 15px;
}

.footer_bot-title-bot {
    margin-bottom: 15px;
}

.footer_bot-title-trung {
    font-family: var(--font-robo) !important;
    font-size: 18px;
    font-weight: bold;
}

.footer_bot-title-bot {
    font-family: var(--font-robo) !important;
    font-size: 16px;
    font-weight: 500;
}

.footer_bot-info > .col-md-6:first-child {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer_bot-info-left,
.footer_bot-info-right {
    font-family: var(--font-robo) !important;
    font-weight: 500;
}

    .footer_bot-info-left > p {
        margin-bottom: 15px;
    }

    .footer_bot-info-right > p {
        margin-bottom: 15px;
    }

    .footer_bot-info-left > p > span {
        /* margin-left: 30px; */
    }

.footer_bot-info > .col-md-6:last-child {
    padding-left: 65px;
}

.footer_bot-info-right > p > span {
    margin-left: 15px;
}

.fix-m-25 {
    margin-left: 25px !important;
    margin-right: 40px;
}

.fix-m-40 {
    margin-right: 40px;
}

.fix-m-b {
    margin: 0 !important;
}

.content_3-box-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_4-padding {
    padding-bottom: 20px;
}

.btn-login {
    border: none;
    background: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}
/*#navbarnav .show {*/
/*position: absolute;
    z-index: 99999;
    background: white;
    width: 177px;
    top: 41px;
    left: -122px;
    padding: 0px 27px;*/
/*}*/
.header_top-right-user span a {
    color: white;
    text-decoration: none;
}

.image a:hover {
    text-decoration: none;
}

.modal-header {
    flex-direction: row-reverse;
    border-bottom: none !important;
}
/*Login*/

.login-bdi .modal-header {
    padding: 15px;
    border-bottom: 1px solid #ff6a00;
    min-height: 16.43px;
    background: #ff6a00;
}

.login-bdi .tieude-login {
    color: white;
    font-family: var(--font-robo) !important;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

#LoginBtn, #SignUpBtn {
    margin-top: 15px;
}

.forget-password {
    font-size: 12px;
    color: #ff6a00;
    text-decoration: underline;
}

.signup {
    font-size: 14px;
    text-decoration: underline;
}

.frm-login {
    margin-left: 65px;
}

#frmLogin .form-group {
    padding: 0px 30px;
    width: 100%;
}

#div_error {
    margin: 0;
    color: red;
    font-size: 14px;
}

#div_sucss {
    margin: 0;
    color: olivedrab;
    font-size: 14px;
}

.modal-header button {
    outline: none;
}

/*Header*/

.menu, .drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: inline-block;
    position: relative;
}

    .menu-item a {
        text-decoration: none;
        padding: 8px 10px;
        color: #fff;
        display: block;
    }

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    outline: none !important;
}

.drop-menu {
    display: none;
    position: absolute;
    z-index: 10000;
    width: 262px;
    height: 161px;
    background: #fff;
    padding: 10px;
    list-style-type: none;
    left: -2%;
    border: 1px solid #ece7e7;
    border-radius: 4px;
    top: 43px;
    border-top: 1px solid var(--color-blue);
}
.drop-menu-item:last-child {
    border-bottom:none;
}
.drop-menu-item {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ced4da;
}

    .drop-menu-item a:hover {
        color: #09488c !important;
    }

    .drop-menu-item a {
        color: #555;
        font-weight: normal;
    }

.menu-item:hover .drop-menu {
    display: block;
}

.content-body {
    margin-top: 15vh;
    background-color: rgb(234 253 255);
    /*width:100%;*/
}

.header_top-right-pen {
    color: white !important;
    text-decoration: none !important;
}
/*.header-images {
    background-image: url("~/Content/Img_BaoChi/bg/header.png");
    background-repeat:repeat;
    width:100%;
    height:100%;
}*/
.navbar-light .navbar-nav .nav-link:hover {
    color: #0062cc !important;
}

/*Register*/

#FormDangKy {
    margin: 20px auto;
}

.report {
    background: #f9f9f9;
}

#FormDangKy .title h1 {
    color: #ff6a00;
    text-transform: uppercase;
}

#FormDangKy .fieldset-title {
    color: #fff;
    font-size: 22px;
    background-color: #ff6a00;
    margin-top: 0;
    padding: 12px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

#FormDangKy .formHeader {
    font-size: 17px;
    color: #ff6a00;
    margin: 15px 0;
    padding: 1px 5px;
    border-left: 3px solid #ff6a00;
    font-weight: bold;
    border-bottom: none;
}

.messageNote {
    color: #ff6a00;
    font-size: 13px;
}

.messageNoteAccount {
    margin-left: 15px;
}

#FormDangKy .boxFormHeader {
    margin: 10px 0;
}

#FormDangKy .control-label {
    text-align: left;
}

#FormDangKy .select2-container .select2-selection--single {
    height: 34px;
}

#FormDangKy .tab-content {
    height: auto;
    overflow: hidden;
}

#FormDangKy .nav-pills {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 0;
}

    #FormDangKy .nav-pills > li {
        float: none;
        display: inline-block;
        zoom: 1;
    }

    #FormDangKy .nav-pills li {
        width: 20%;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font-robo) !important;
        font-weight: 700;
        background: #f68601;
        border-color: #f68601;
        border-radius: 5px;
    }

        #FormDangKy .nav-pills li a {
            color: #fff;
            text-decoration: none;
            letter-spacing: 1px;
            padding: 10px 5px;
        }

        #FormDangKy .nav-pills li.active a,
        #FormDangKy .nav-pills a:focus {
            color: #ffeb3b;
            background-color: #ff6a00 !important;
            outline: none;
        }

#FormDangKy .captcha-container {
    float: none;
    margin: 20px auto;
    text-align: center;
}

#FormDangKy .no-margin {
    margin: 0;
}

#FormDangKy .padding-10 {
    padding: 10px 0;
}

#FormDangKy .padding-bottom-10 {
    padding-bottom: 10px;
}

#FormDangKy #imgAnhDaiDien {
    /*width: 250px;
            height: 250px;*/
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

#FormDangKy .no-padding-right {
    /*padding-right:0;*/
}

#FormDangKy #RegisterChuyenGiaForm .form-horizontal .form-group {
    /*margin-right:0;*/
}

#FormDangKy #inputAnhDaiDien {
    width: 50%;
    margin: 0 auto;
}



#FormDangKy .no-padding-left {
    padding-left: 0;
}



#FormDangKy .form-group select {
    width: 100%;
}

/*#FormDangKy {
    display: none;
}*/

#FormDangKy .text-align-middle {
    vertical-align: middle;
}

#FormDangKy .text-align-top {
    vertical-align: top;
}

#FormDangKy .table-info tr th,
#FormDangKy .table-info tr td,
#FormDangKy .table-info .form-control,
#FormDangKy .table-info .btn {
    font-size: 12px;
}


#RegisterToChucToVanForm .form-horizontal .control-label {
    padding-top: 0;
}

#boxRegisterForm .frm-register {
    margin-top: 119px;
}

@media only screen and (min-width:280px) and (max-width:560px) {
    #FormDangKy .float-right {
        float: none;
    }

    #FormDangKy .table-container {
        overflow-x: scroll;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #FormDangKy .float-right {
        float: none;
    }

    #FormDangKy .table-container {
        overflow-x: scroll;
    }
    .content_tin-right-box  p{
        font-size: 25px !important;

    }
    .content_tin-right-box button {
        margin-bottom: 25px !important;
        height: 34px;
    }
}

@media only screen and (min-width: 1024px) {
    #FormDangKy .full-form-control-container .col-sm-10 {
        padding-left: 8px;
    }
}

#FormDangKy .upper {
    text-transform: uppercase;
}

/*màn hình iPad*/
@media only screen and (min-width: 1024px) {

    #FormDangKy .no-padding-right {
        padding-right: 0;
    }

    #FormDangKy .float-right {
        float: right;
    }
}

.drop-select {
    width: 100%;
    height: 37.6px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.navbar-expand-lg .navbar-nav .login_nav {
    display: none;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: block !important;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    display: none;
}

.title {
    padding-top: 9%;
}
/*Select 2*/
.select2-selection__rendered {
    display: none;
}

/*Tin tức*/
.content-body .detail-tintuc {
    padding-top: 10px !important;
}

.dsTinTuc {
    padding-top: 10px !important;
}

.title-top {
    margin-bottom: 23px;
}

    .title-top span {
        font-weight: bold;
    }

.blog-hot {
    background-color: #e6e4e4;
}

    .blog-hot h2 {
        margin: 0;
        padding: 15px 0;
        text-align: center;
    }

        .blog-hot h2 a {
            font-family: var(--font-robo) !important;
            color: #000;
            text-decoration: none;
        }

    .blog-hot .item {
        text-align: left;
        padding: 20px;
        border-bottom: 1px dotted #000;
    }

        .blog-hot .item i {
            float: left;
            height: 40px;
            font-size: 10px;
            margin-top: 10px;
            margin-right: 10px;
        }

        .blog-hot .item a {
            color: #000;
        }


.content h3 a {
    font-size: 18px;
    /*line-height: 28px;*/
    color: black;
    text-decoration: none
}

    .content h3 a:hover {
        color: #0062cc !important;
    }

.item-news {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

    .item-news:last-child {
        border-bottom: none;
    }

.content {
    margin-bottom: 10px;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

    .pager li {
        display: inline;
    }

        .pager li > a, .pager li > span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 15px;
            text-decoration: none;
        }

.nd-cha {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

    .nd-cha a:hover {
        color: #0062cc !important;
    }

.title-top a {
    text-decoration: none;
}



.catchuoi2dong {
    display: block;
    display: -webkit-box;
    font-size: 18px;
    line-height: 26px;
    font-family: var(--font-robo) !important;
    -webkit-line-clamp: inherit; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catchuoi3dong {
    display: block;
    display: -webkit-box;
    font-size: 16px;
    line-height: 28px;
    font-family: var(--font-robo) !important;
    -webkit-line-clamp: 3; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catchuoi4dong {
    display: block;
    display: -webkit-box;
    font-size: 16px;
    line-height: 20px;
    font-family: var(--font-robo) !important;
    -webkit-line-clamp: 4; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catchuoi5dong {
    display: block;
    display: -webkit-box;
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-robo) !important;
    -webkit-line-clamp: 5; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blacktitle {
    text-decoration: none !important;
    color: #333;
}

.header_img-bot {
    display: none;
}

.footer_top-item img {
    width: 27vh;
    height: 15vh;
}

.content-left {
    margin-top: -21px;
}


.title-top a {
    color: #333;
}

    .title-top a:hover {
        color: #333;
        text-decoration: none;
    }

.sixteen-nine-img img {
    width: 100%;
    /*height: 187px;*/
}
p {
    word-wrap: break-word;
}

.dong-5-an {
    display: block;
    display: -webkit-box;
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-robo) !important;
    -webkit-line-clamp: 4; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content h3 {
    display: block;
    display: -webkit-box;
    font-size: 20px;
    line-height: 28px;
    font-family: var(--font-robo) !important;
    -webkit-line-clamp: 3; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.content_4-box-bot {
    margin-top: 3vh;
}



.item > sixteen-nine-img > img {
    width: 100%;
    height: 500px !important;
}

.content_3-content-img {
    /* width: 100%; */
    height: 230px;
}

.content_tin-right {
    position: relative;
    /*padding: 70px 60px;*/
}

    .content_tin-right > img {
        width: 100%;
        height: 100%
    }

.content_tin-right-box {
    position: absolute;
    content: "";
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    padding: 70px 40px;
    flex-direction: column;
    /* height: 100%; */
    /* width: 110%; */
    align-items: center;
    justify-content: space-between;
}

    .content_tin-right-box > p {
        font-size: 38px;
        line-height: 60px;
        color: var(--text-white);
        text-align: center;
        font-family: var(--font-robo) !important;
        font-weight: bold;
    }

p img {
    width: 100%;
}
table img {
    width: 100%;
}
.content_tin-right-btn {
    border: none;
    background-color: #0078d4;
    height: 60px;
    width: 180px;
    margin-bottom: 25px;
}

    .content_tin-right-btn:hover {
        background-color: #8ab0cd;
    }

    .content_tin-right-btn a:hover {
        color: #ffffff;
        text-decoration: none;
    }


.contact {
    margin-top: 28vh;
    margin-bottom: 7vh;
}

#carouselExampleControls {
    width: 100%;
}

.content_text_title {
    color: var(--color-blue);
    text-align: justify;
}

p {
    text-align: justify;
}
/*New css*/
.content-body {
    margin-top: 133px !important;
}

.header {
    max-height: 133px;
}

.header-top {
    max-height: 82px
}

.header_bot {
    max-height: 83px !important
}
.is_active{
    color:var(--color-blue) !important;

}
.owl-theme .owl-nav.disabled + .owl-dots
{
    margin-top:0px !important;
}
a:hover {
    text-decoration: none !important;
}

.content_2 a:hover .content_2-top-title, .content_2 a:hover .content_2-top-description, .content_2 a:hover .content_2-mid-title, .content_4 a:hover .content_4-bot-title-top, .content_4 a:hover .content_4-bot-title-bot, .content_5 a:hover .content_3-content-title, .content_5 a:hover .content_3-content-des, .content_6 a:hover .content_6-left-btn-des, .footer_top-item a:hover {
    color: #09488c !important;
}
.content_2 a:hover .content_2-top-title, .content_2 a:hover .content_2-top-description, .content_2 a:hover .content_2-mid-title, .content_4 a:hover .content_4-bot-title-top, .content_4 a:hover .content_4-bot-title-bot, .content_5 a:hover .content_3-content-title, .content_5 a:hover .content_3-content-des, .content_6 a:hover .content_6-left-btn-des {
    color: #09488c !important;
}

.content_4-bot-title-top:hover {
    color: #0062cc !important;
}
.detail_tintuc .top-blog img {
    max-width: 100% !important;
}
.text-mobile{
    display:none;
}
#top-up {
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    color: #004993;
    bottom: 20px;
    right: 15px;
    display: none;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 0px 1px #fff;
}

    #top-up i {
        padding: 13px;
        border: 1px solid #fff;
    }

    #top-up:hover {
        color: #333
    }